export AWS_ENDPOINT="http://localhost:9000"
export AWS_REGION="us-east-1"
export AWS_ACCESS_KEY_ID="minioadmin"
export AWS_SECRET_ACCESS_KEY="minioadmin"
export BUCKET_NAME="music"

export DB_FILE_PATH="resources/music.db"

export ARTIST_NAME="Khruangbin"
